body {
  background-image: url(/assets/images/Background.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-position {
  text-align: center;
  background-color: #071447;
}

h3 {
  font-family: "Helvetica", "Lato", "sans-serif";
  color: green;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 200px;
  height: 200px;
  border: 5px white solid;
  border-radius: 30%;
}

.youtube {
  border: 5px white solid;
}

.btn-bg {
  background-color: #06031b;
}

.form-bg {
  background-color: #8A3A68;
  border: 3px white solid;
  border-radius: 15%;
}

.playlist-container {
  min-width: 500px;
  border: 3px white solid;
  background-color: #c5278c;
}

.background-color {
  background-color: #fe4d2e;
}

.button-bg-color {
  background-color: #0b88b6;
  border: 3px #080f21;
  color: white;
}

.button-bg-color:hover {
  background-color: white;
}

.request {
  background-color: #071547;
  border: 5px #FE4D2D solid;
  bottom: 0px;
}

.request-btn-bg {
  background-color: #FE4D2D;
}

.request-btn-bg:hover {
  background-color: #C5278C;
}

.credits-container {
  border: 3px white solid;
  color: white;
  font-weight: bold;
  background-color: #0f051c;
  text-align: center;
}

li a:hover {
  background-color: black;
}
