body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/assets/images/Background.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flex-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.text-position {
  text-align: center;
  margin: auto;
  border: 5px white solid;
  padding: 10px;
  background-color: #fdac75;
}

h3 {
  font-family: "Helvetica", "Lato", "sans-serif";
  color: green;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 200px;
  height: 200px;
  border: 5px white solid;
  border-radius: 30%;
  margin-left: 30px;
  margin-top: 30px;
}

.million {
  float: left;
}

.flex-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.youtube-flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.youtube-flex-item {
  margin: 0 10px;
  border: 5px white solid;
}

.youtube-flex-item iframe {
  display: block;
}

.btn-bg {
  background-color: #06031b;
}

.cards-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.cards-flex-item {
  flex: 0 0 auto;
}

.button-flex {
  flex: 0 0 auto;
}

.form-bg {
  background-color: rgb(249, 197, 59);
  border: 3px white solid;
  border-radius: 15%;
}

.playlist-flex-container {
  display: flex;
  flex-direction: row;
  min-width: 500px;
  border: 3px white solid;
  background-color: #c5278c;
  margin-right: 10px;
}

.background-color {
  background-color: #fe4d2e;
}

.flex-container-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0px;
}

.button-bg-color {
  background-color: #0b88b6;
  border: 3px #080f21;
  color: white;
}

.button-bg-color:hover {
  background-color: white;
}

.credits-flex-item {
  border: 3px white solid;
  color: #ebbe34;
  font-weight: bold;
  background-color: #0f051c;
}

.button-flex-item {
  margin: 10px 500px 0px 0px;
}

@media (max-width: 600px) {
  img {
    width: 100px;
    height: auto;
  }
  .million {
    margin-left: -20px;
  }

  .text-position {
    max-width: 450px;
    margin-top: 20px;
  }
  .flex-container-2 {
    flex-wrap: wrap;
  }
  .youtube-flex-container {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
  }
  .cards-flex-container {
    margin: auto;
    padding: 10px;
  }
  .playlist-flex-container {
    margin: auto;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {
}
