
body {
  background-image: url(./assets/images/Crush-Background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-position {
  text-align: center;
  background-color: #969cfe;
}

h3 {
  font-family: "Helvetica", "Lato", "sans-serif";
  color: #febbf2;
}

img {
  /* max-width: 100%;
  max-height: 100%; */
  width: 300px;
  height: auto;
  border: 5px #969cfe solid;
  border-radius: 30%;
}

.youtube {
  border: 5px white solid;
}


.btn-bg {
  background-color: #969cfe;
}
.btn-bg:hover{
  background-color: #cfa5f2;
}

.form-bg {
  background-color: #969cfe;
  border: 3px white solid;
  border-radius: 15%;
}

.playlist-container {
  min-width: 500px;
  border: 3px white solid;
  background-color: #febbf2;
}

.background-color {
  background-color: #969cfe;
}

.button-bg-color {
  background-color: #969cfe;
  border: 3px #080f21;
  color: white;
}

.button-bg-color:hover {
  background-color: white;
}

.request {
  background-color: #cfa5f2;
  border: 5px #969cfe solid;
  bottom: 0px;
}

.request-btn-bg {
  background-color: #969cfe;
}

.request-btn-bg:hover {
  background-color: #969cfe;
}

.credits-container {
  border: 3px white solid;
  color: #969cfe;
  font-weight: bold;
  background-color: #febbf2;
  text-align: center;
}

li a:hover {
  background-color: black;
}
