.playlist-flex-container {
    display: flex;
    flex-direction: row;
    border: 3px white solid;
    background-color: #c5278c;
  }

  .flex-container-3 {
    display: flex;
    flex-direction: row;
  }
  
  .button-bg-color {
    background-color: #0b88b6;
    border: 3px #080f21;
    color: white;
  }
  
  .credits {
    border: 3px white solid;
    color: #ebbe34;
    font-weight: bold;
    background-color: #0f051c;
    padding: 5px;
  }