@font-face {
  font-family: myFont;
  src: url(./retro.ttf);
}

h1 {
  font-family: myFont;
  font-size: 70px;
  margin-top: 50px !important;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 10px #040304, 0 0 20px #ffffff, 0 0 20px #000000a8,
      0 0 20px #322c31, 0 0 2px #7a56a9, 2px 2px 2px #806914;
    color: #ffffff;
  }
  70% {
    text-shadow: 0 0 2px #ffffff, 0 0 5px #0a0707, 0 0 5px #ffffff,
      0 0 5px #ffffff, 0 0 2px #530079, 4px 4px 2px #40340a;
    color: #ffffff;
  }
}

h3 {
  font-family: myFont;
  font-size: 20px;
  text-align: center;
  animation: neon 1s ease infinite;
  text-align: center;
}
@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 10px #040304, 0 0 20px #ffffff, 0 0 20px #2a2828a8,
      0 0 20px #322c31, 0 0 2px #7a56a9, 2px 2px 2px #806914;
    color: #ffffff;
  }
  70% {
    text-shadow: 0 0 2px #ffffff, 0 0 5px #0a0707, 0 0 5px #ffffff,
      0 0 5px #ffffff, 0 0 2px #530079, 4px 4px 2px #40340a;
    color: #cec8c8;
  }
}

.custom-font {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.custom-color {
  color: #d0e0f9;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-image: url(/assets/images/landing-page-background.gif);
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#happyButton {
  border-radius: 100px;
  width: 400px;
  height: 150px;
  font-size: 20px;
  background-image: url(/assets/images/million-bucks.jpg);
  background-size: cover;
}

#sadButton {
  border-radius: 100px;
  width: 400px;
  height: 150px;
  font-size: 20px;
  background-image: url(/assets/images/sadButton-img.jpg);
  background-size: cover;
  background-position: 25%;
  color: white;
  font-size: 20px;
}

#gigglingButton {
  border-radius: 100px;
  width: 400px;
  height: 150px;
  font-size: 20px;
  background-image: url(/assets/images/in-love.jpg);
  background-size: cover;
}

#mehButton {
  border-radius: 100px;
  width: 400px;
  height: 150px;
  font-size: 20px;
  background-image: url(/assets/images/meh-img.jpg);
  background-size: cover;
  background-position: 25%;
}

#randomButton {
  border-radius: 100px;
  width: 200px;
  height: 100px;
  background-image: url(/assets/images/random.jpg);
  background-size: 50%;
  font-size: 20px;
  color: white;
}

.link-style {
  text-decoration: none;
  text-shadow: 2px 2px 3px black;
}

.link-style:visited {
  color: white;
}

.footer {
  width: 100%;
  padding: 10px;
  background-color: #212529;
}

.developCredits {
  border: black solid 3px;
  background-color: #D0DFF9;
  padding: 5px;
  margin-right: 8px;
}

.requestButton {
  left: 8px;
}

.requestButton:hover {
  background-color: #D0DFF9;
}