@font-face {
  font-family: myFont;
  src: url(./retro.ttf);
}


h1 {
  font-family: myFont;
  font-size: 70px;
  margin-top: 50px !important;
}

h3 {
  font-family: myFont;
  font-size: 20px;
}

body {
  background-image: url(/assets/images/landing-page-background.gif);
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center {
  margin: 70px 0;
}

#happyButton {
  border-radius: 100px;
  width: 400px;
  height: 150px;
  font-size: 20px;
  background-image: url(/assets/images/million-bucks.jpg);
  background-size: cover;
}

#sadButton {
  border-radius: 100px;
  width: 400px;
  height: 150px;
  font-size: 20px;
  background-image: url(/assets/images/sadButton-img.jpg);
  background-size: cover;
  background-position: 25%;
  color: white;
  font-size: 20px;
}

#gigglingButton {
  border-radius: 100px;
  width: 400px;
  height: 150px;
  font-size: 20px;
  background-image: url(/assets/images/in-love.jpg);
  background-size: cover;
}

#mehButton {
  border-radius: 100px;
  width: 400px;
  height: 150px;
  font-size: 20px;
  background-image: url(/assets/images/meh-img.jpg);
  background-size: cover;
  background-position: 25%;
}

#randomButton {
  border-radius: 100px;
  width: 200px;
  height: 100px;
  background-image: url(/assets/images/random.jpg);
  background-size: 50%;
  font-size: 20px;
  color: blue;
}

.link-style {
  text-decoration: none;
  text-shadow: 2px 2px 3px black;
}

.link-style:visited {
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #faf9f6;
}

.developCredits {
  border: black solid 3px;
  padding: 5px;
  margin-right: 8px;
}

.requestButton {
  margin-left: 8px;
}
