body {
  background-image: url(/assets/images/Meh-Background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-position {
  text-align: center;
  background-color: #090805;
}

h3 {
  font-family: "Helvetica", "Lato", "sans-serif";
  color: #8A6B87;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 250px;
  height: 200px;
  border: 5px #090805 solid;
  border-radius: 30%;
}

.youtube {
  border: 5px solid white;
}

.btn-bg {
  background-color: #06031b;
}

.form-bg {
  background-color: #8A3A68;
  border: 3px white solid;
  border-radius: 15%;
}

.playlist-container {
  min-width: 500px;
  border: 3px white solid;
  background-color: #651e4d;
}

.background-color {
  background-color: #021E46;
}

.button-bg-color {
  background-color: #651E4D;
  border: 3px #080f21;
  color: white;
}

.button-bg-color:hover {
  background-color: white;
}

.request {
  background-color: #071547;
  border: 5px #651E4D solid;
  bottom: 0px;
}

.request-btn-bg {
  background-color: #651E4D;
}

.request-btn-bg:hover {
  background-color: #C5278C;
}

.credits-container {
  border: 3px white solid;
  color: white;
  font-weight: bold;
  background-color: #765e7a;
  text-align: center;
}

li a:hover {
  background-color: black;
}
