 body {
    background-image: url(/assets/images/Sad-Background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }  

    .text-position {
    text-align: center;
    background-color: #1B1A1F;
  }

    h3 {
    font-family: "Helvetica", "Lato", "sans-serif";
    color: #9FCAFD;
  }


  img {
    max-width: 100%;
    max-height: 100%;
    width: 200px;
    height: 200px;
    border: 5px #1B1A1F solid;
    border-radius: 30%;
  }


.youtube {
  border: 5px white solid;
}

.btn-bg {
  background-color: #06031b;
}

.form-bg {
  background-color: #201C1D;
  border: 3px white solid;
  border-radius: 15%;
}

.playlist-container {
  min-width: 500px;
  border: 3px white solid;
  background-color: #593341;
}

.background-color {
  background-color: #1A1C29;
}

.button-bg-color {
  background-color: #593341;
  border: 3px #080f21;
  color: white;
}

.button-bg-color:hover {
  background-color: white;
}

.request {
  background-color: #1A181D;
  border: 5px #593341 solid;
  bottom: 0px;
}

.request-btn-bg {
  background-color: #593341;
  color: white;
}

.request-btn-bg:hover {
  background-color: #B1C5D3;
  color: black;
}

.credits-container {
  border: 3px white solid;
  color: white;
  font-weight: bold;
  background-color: #0f051c;
  text-align: center;
}

li a:hover {
  background-color: black;
}